version: '3.9'
services:
  api:
    build:
      context: .
      dockerfile: dockerfile
    container_name: reniec-nest
    ports:
      - '8080:8080'
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_NAME=${DATABASE_NAME}
      - PORT=8080
